<div class="table-head">
  <div class="table-row flex-dis flex-wrap flex-v-center flex-h-center">
    <div class="table-list flex-1">Roll No.</div>
    <div class="table-list flex-1">Name</div>
    <div class="table-list flex-1">Department</div>
    <div class="table-list flex-1">College </div>
    <div class="table-list flex-1">Location</div>
  </div>
</div>

<div class="table-body">
  <div class="table-row flex-dis flex-wrap flex-v-center flex-h-center" *ngFor="let student of (studentList | searchFilter: radioData:searchData)">
    <div class="table-list flex-1">
      <div>{{student.id}}</div>
    </div>
    <div class="table-list flex-1">
      <div>{{student.name}}</div>
    </div>
    <div class="table-list flex-1">
      <div>{{student.stream}}</div>
    </div>
    <div class="table-list flex-1">
      <div>{{student.college}}</div>
    </div>
    <div class="table-list flex-1">
      <div>{{student.location}}</div>
    </div>
  </div>
</div>
