<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="toggle-btn" mat-icon-button (click)="sideNavigation.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="content-area">
  <mat-sidenav mode="side" #sideNavigation>
    <mat-nav-list>
      <div class="side-nav">
        <a mat-button *ngFor="let nav of navigation" (click)="ChangeRoute(nav.pathName)" routerLinkActive="active">{{nav.name}}</a>
        <!--<a mat-button routerLink="/Employee-list" routerLinkActive="active">Employee List</a>
        <a mat-button routerLink="/Student-list" routerLinkActive="active">Student List</a>-->
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="side-bar-content">
    <search-filter></search-filter>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


